{% extends 'base.html' %}
{% block title %}Walk San Francisco{% endblock %}

{% block content %}

<!-- Wrap all page content here -->
<div id="wrap">


<div class="divider" id="section4"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
  </div>
</div>
  
<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
      <h1>Walk San Francisco</h1>
      <h2>Smart, Safe, Fun!</h2>
  </div>

  <div id="map" class="col-sm-8"></div>

  <hr>

  <div class="col-sm-8"></div>
  <div class="col-sm-3 pull-right">

      <address>
        Hackbright Academy<br>
        <span id="map-input">
        683 Sutter St<br>
        San Francisco, CA 94109</span><br>
        P: (415) 887-2215
      </address>
    
      <address>
        <strong>Email Us</strong><br>
        <a href="mailto:info@hackbrightacademy.com">info@hackbrightacademy.com</a>
      </address>
  </div>
  
</div><!--/row-->

</div><!--/wrap-->

{% endblock %}